body {
  margin: 0;
  font-family: 'Mulish', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.overlay {
  position: fixed;
  top: calc(49px); 
  left: 0;
  width: 100%;
  height: calc(100% - (49px));
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 5;
}